{{ 'order-form.css' | asset_url | stylesheet_tag }}

<div class="container customization_form">
  <form action="" name="{{ product.title }}">
    <div class="form-header">
      <span class="form-title" id="formTitleElem">{{ product.title }}</span>
    </div>

    <div class="form-container">
      <div class="form-inner">
        
        <div class="form-row">
          <div class="form-group">
            <label class="form-label">Would you like to upload a voice message?</label>
            <div class="form-field">
              <div class="radio-group">
                <input
                  type="radio"
                  class="radio"
                  name="properties[Would_you_like_to_pload_a_voice_message]"
                  value="Yes please."
                  form="AddToCartForm-{{ section.id }}-{{ product.id }}"
                >
                <span>Yes please.</span>
              </div>
              <div class="radio-group">
                <input
                  type="radio"
                  class="radio"
                  name="properties[Would_you_like_to_pload_a_voice_message]"
                  value="No, I'll record it myself."
                  form="AddToCartForm-{{ section.id }}-{{ product.id }}"
                >
                <span>No, I'll record it myself.</span>
              </div>
            </div>
          </div>
        </div>

         <div class="form-row">
          <div class="form-group">
            <label class="form-label">Name of the special person</label>
            <div class="form-field">
              <input
                type="text"
                class="form-control"
                name="properties[Name_of_the_Special_Person]"
                form="AddToCartForm-{{ section.id }}-{{ product.id }}"
                maxlength="50"
              >
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="form-label">Nickname</label>
            <div class="form-field">
              <input
                type="text"
                class="form-control"
                name="properties[Nickname]"
                form="AddToCartForm-{{ section.id }}-{{ product.id }}"
                maxlength="50"
              >
            </div>
          </div>
        </div>


         <div class="form-row">
          <div class="form-group">
            <label class="form-label">Occasion</label>
            <div class="form-field">
              <input
                type="text"
                class="form-control"
                name="properties[Occasion]"
                form="AddToCartForm-{{ section.id }}-{{ product.id }}"
                maxlength="50"
              >
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="form-label">Date of the special occasion</label>
            <div class="form-field">
              <input
                type="date"
                data-date=""
                class="form-control"
                name="properties[Date_of_the_special_occasion]"
                form="AddToCartForm-{{ section.id }}-{{ product.id }}"
                data-date-format="DD MM YYYY"
              >
              <span class="label-text">(DD/MM/YYYY)</span>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="form-label">Place of Birth</label>
            <div class="form-field">
              <input
                type="text"
                class="form-control"
                name="properties[Place_of_Birth]"
                form="AddToCartForm-{{ section.id }}-{{ product.id }}"
                maxlength="50"
              >
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="form-label">Favourite food (Any 2)</label>
            <div class="form-field">
              <input
                type="text"
                class="form-control"
                name="properties[Favourite_food_Any_2]"
                form="AddToCartForm-{{ section.id }}-{{ product.id }}"
              >
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="form-label">Zodiac Sign of the special person</label>
            <div class="form-field">
              <select
                class="form-control"
                id="dropdown"
                name="properties[Zodiac_sign_of_the_special_person]"
                form="AddToCartForm-{{ section.id }}-{{ product.id }}"
              >
                <option value=""></option>
                <option value="Aquarius">Aquarius</option>
                <option value="Pisces">Pisces</option>
                <option value="Aries">Aries</option>
                <option value="Taurus">Taurus</option>
                <option value="Gemini">Gemini</option>
                <option value="Cancer">Cancer</option>
                <option value="Leo">Leo</option>
                <option value="Virgo">Virgo</option>
                <option value="Libra">Libra</option>
                <option value="Scorpio">Scorpio</option>
                <option value="Sagittarius">Sagittarius</option>
                <option value="Capricorn">Capricorn</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="form-label">Absolutely Loves</label>
            <div class="form-field">
              <input
                type="text"
                class="form-control"
                name="properties[Absolutely_Loves]"
                form="AddToCartForm-{{ section.id }}-{{ product.id }}"
              >
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="form-label">Favourite hangout place</label>
            <div class="form-field">
              <input
                type="text"
                class="form-control"
                name="properties[Favourite_hangout_place]"
                form="AddToCartForm-{{ section.id }}-{{ product.id }}"
              >
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="form-label">Favourite game</label>
            <div class="form-field">
              <input
                type="text"
                class="form-control"
                name="properties[Favourite_game]"
                form="AddToCartForm-{{ section.id }}-{{ product.id }}"
              >
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="form-label">Adjectives/words to describe him/her (Any 4)</label>
            <div class="form-field">
              <input
                type="text"
                class="form-control"
                name="properties[Adjectives_words_to_describe_him_her_Any_4]"
                form="AddToCartForm-{{ section.id }}-{{ product.id }}"
              >
            </div>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group">
            <label class="form-label">Your e-mail address</label>
            <div class="form-field">
              <input
                type="email"
                class="form-control"
                name="properties[Your_e_mail_address]"
                form="AddToCartForm-{{ section.id }}-{{ product.id }}"
              >
              <i class="fa-thin fa-envelope fa-sm icon"></i>
            </div>
          </div>
        </div>

        <div class="form-row hidden">
          <div class="form-group">
            <label class="form-label">Item Id</label>
            <div class="form-field">
              <input
                type="text"
                class="form-control"
                name="properties[Item Id]"
                value="{{ product.metafields.custom.item_id }}"
                form="AddToCartForm-{{ section.id }}-{{ product.id }}"
              >
            </div>
          </div>
        </div>

        <div class="form-row hidden">
          <div class="form-group">
            <label class="form-label">Record Id</label>
            <div class="form-field">
              <input
                type="text"
                class="form-control"
                name="properties[Record Id]"
                value="{{ product.metafields.custom.record_id }}"
                form="AddToCartForm-{{ section.id }}-{{ product.id }}"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
