{{ 'order-form.css' | asset_url | stylesheet_tag }}

<div class="container customization_form">
  <form action="" name="{{ product.title }}">
    <div class="form-header">
      <span class="form-title" id="formTitleElem">{{ product.title }}</span>
    </div>

    <div class="form-container">
      <div class="form-inner">
        <div class="form-row">
          <div class="form-group">
            <label class="form-label">Do you want to customize the Video Box</label>
            <div class="form-field">
              <div class="radio-group">
                <input
                  type="radio"
                  class="radio"
                  name="properties[Do_you_want_to_customize_the]"
                  value="Will record by myself"
                  form="AddToCartForm-{{ section.id }}-{{ product.id }}"
                >
                <span>Will record by myself</span>
              </div>
              <div class="radio-group">
                <input
                  type="radio"
                  class="radio"
                  name="properties[Do_you_want_to_customize_the]"
                  value="Will share the Recording"
                  form="AddToCartForm-{{ section.id }}-{{ product.id }}"
                >
                <span>Will share the Recording</span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="form-label">Your e-mail address (For your order-related communication)</label>
            <div class="form-field">
              <input
                type="email"
                class="form-control"
                name="properties[Your_e_mail_address]"
                form="AddToCartForm-{{ section.id }}-{{ product.id }}"
              >
              <i class="fa-thin fa-envelope fa-sm icon"></i>
            </div>
          </div>
        </div>

        <div class="form-row hidden">
          <div class="form-group">
            <label class="form-label">Item Id</label>
            <div class="form-field">
              <input
                type="text"
                class="form-control"
                name="properties[Item Id]"
                value="{{ product.metafields.custom.item_id }}"
                form="AddToCartForm-{{ section.id }}-{{ product.id }}"
              >
            </div>
          </div>
        </div>

        <div class="form-row hidden">
          <div class="form-group">
            <label class="form-label">Record Id</label>
            <div class="form-field">
              <input
                type="text"
                class="form-control"
                name="properties[Record Id]"
                value="{{ product.metafields.custom.record_id }}"
                form="AddToCartForm-{{ section.id }}-{{ product.id }}"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

