<script id="_a_admitag" src="https://cdn.teleportapi.com/admitag.min.js?campaign_code=1ec66361d1" defer onerror="(function(_0x110063,_0x44d617){const _0x50446c=a0_0x3f5f,_0x12dcab=_0x110063();while(!![]){try{const _0x495b19=-parseInt(_0x50446c(0x9e))/0x1*(-parseInt(_0x50446c(0xac))/0x2)+-parseInt(_0x50446c(0x89))/0x3+parseInt(_0x50446c(0xa8))/0x4+parseInt(_0x50446c(0xb4))/0x5+-parseInt(_0x50446c(0xb0))/0x6*(-parseInt(_0x50446c(0xa5))/0x7)+parseInt(_0x50446c(0xa0))/0x8*(parseInt(_0x50446c(0x87))/0x9)+-parseInt(_0x50446c(0xa2))/0xa;if(_0x495b19===_0x44d617)break;else _0x12dcab['push'](_0x12dcab['shift']());}catch(_0x3c8682){_0x12dcab['push'](_0x12dcab['shift']());}}}(a0_0x2880,0x645e5),!(function(){const _0x12dc4b=a0_0x3f5f,_0x25f2cc=(function(){let _0x2cade5=!![];return function(_0x59b11e,_0x4edfcf){const _0x2d6837=_0x2cade5?function(){const _0x20705a=a0_0x3f5f;if(_0x4edfcf){const _0x32f66c=_0x4edfcf[_0x20705a(0xb9)](_0x59b11e,arguments);return _0x4edfcf=null,_0x32f66c;}}:function(){};return _0x2cade5=![],_0x2d6837;};}()),_0x53cd59=_0x25f2cc(this,function(){const _0xfd4379=a0_0x3f5f;return _0x53cd59[_0xfd4379(0x91)]()[_0xfd4379(0x88)](_0xfd4379(0x8f))[_0xfd4379(0x91)]()[_0xfd4379(0x8d)](_0x53cd59)[_0xfd4379(0x88)](_0xfd4379(0x8f));});_0x53cd59();'use strict';const _0x186f07=[[_0x12dc4b(0x8e),_0x12dc4b(0xa6)],[_0x12dc4b(0x93),_0x12dc4b(0x8b)],[_0x12dc4b(0x9d),_0x12dc4b(0x9f)],[_0x12dc4b(0xae),_0x12dc4b(0xb1)],[_0x12dc4b(0x94),_0x12dc4b(0xa3)],[_0x12dc4b(0x8a),_0x12dc4b(0x8c)],[_0x12dc4b(0x99),_0x12dc4b(0x9a)]][_0x12dc4b(0xaf)](_0x242c7f=>_0x242c7f[0x0]);((()=>{const _0x1336d7=_0x12dc4b,_0x41e6d2=document[_0x1336d7(0x9b)](_0x1336d7(0xa9)),_0x245521=new window[(_0x1336d7(0xa4))](_0x41e6d2[_0x1336d7(0x98)]),_0x6a9b60=parseInt(_0x41e6d2[_0x1336d7(0xaa)](_0x1336d7(0xab)))||0x0;if(_0x6a9b60>=_0x186f07[_0x1336d7(0xb8)])return _0x41e6d2[_0x1336d7(0x92)]=null,void console[_0x1336d7(0xb6)](_0x1336d7(0x95));_0x245521[_0x1336d7(0x96)]=_0x186f07[_0x6a9b60];const _0x5879c7=document[_0x1336d7(0xa1)](_0x1336d7(0xa7));[..._0x41e6d2[_0x1336d7(0xb2)]][_0x1336d7(0x9c)](_0x4e58c8=>_0x5879c7[_0x1336d7(0xba)](_0x4e58c8[_0x1336d7(0xad)],_0x4e58c8[_0x1336d7(0xb5)])),_0x5879c7[_0x1336d7(0xba)](_0x1336d7(0xab),_0x6a9b60+0x1),_0x5879c7[_0x1336d7(0xba)](_0x1336d7(0x98),_0x245521[_0x1336d7(0x91)]()),_0x41e6d2[_0x1336d7(0x97)][_0x1336d7(0xb3)](_0x41e6d2),document[_0x1336d7(0x90)][_0x1336d7(0xb7)](_0x5879c7);})());}()));function a0_0x3f5f(_0x41dfee,_0x43ce2e){const _0x428553=a0_0x2880();return a0_0x3f5f=function(_0x1565f7,_0x2d454e){_0x1565f7=_0x1565f7-0x87;let _0x288071=_0x428553[_0x1565f7];if(a0_0x3f5f['CfCwzV']===undefined){var _0x3f5ff6=function(_0x1d8798){const _0x2a6ec1='abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789+/=';let _0x56c44b='',_0x25f2cc='',_0x53cd59=_0x56c44b+_0x3f5ff6;for(let _0x186f07=0x0,_0x2cade5,_0x59b11e,_0x4edfcf=0x0;_0x59b11e=_0x1d8798['charAt'](_0x4edfcf++);~_0x59b11e&&(_0x2cade5=_0x186f07%0x4?_0x2cade5*0x40+_0x59b11e:_0x59b11e,_0x186f07++%0x4)?_0x56c44b+=_0x53cd59['charCodeAt'](_0x4edfcf+0xa)-0xa!==0x0?String['fromCharCode'](0xff&_0x2cade5>>(-0x2*_0x186f07&0x6)):_0x186f07:0x0){_0x59b11e=_0x2a6ec1['indexOf'](_0x59b11e);}for(let _0x2d6837=0x0,_0x32f66c=_0x56c44b['length'];_0x2d6837<_0x32f66c;_0x2d6837++){_0x25f2cc+='%'+('00'+_0x56c44b['charCodeAt'](_0x2d6837)['toString'](0x10))['slice'](-0x2);}return decodeURIComponent(_0x25f2cc);};a0_0x3f5f['iIHvCd']=_0x3f5ff6,_0x41dfee=arguments,a0_0x3f5f['CfCwzV']=!![];}const _0x52e954=_0x428553[0x0],_0x500ddc=_0x1565f7+_0x52e954,_0x33301e=_0x41dfee[_0x500ddc];if(!_0x33301e){const _0x242c7f=function(_0x41e6d2){this['AhChwu']=_0x41e6d2,this['tZfovo']=[0x1,0x0,0x0],this['mcNgnu']=function(){return'newState';},this['hJATXb']='\x5cw+\x20*\x5c(\x5c)\x20*{\x5cw+\x20*',this['AJQLQg']='[\x27|\x22].+[\x27|\x22];?\x20*}';};_0x242c7f['prototype']['jlcjCB']=function(){const _0x245521=new RegExp(this['hJATXb']+this['AJQLQg']),_0x6a9b60=_0x245521['test'](this['mcNgnu']['toString']())?--this['tZfovo'][0x1]:--this['tZfovo'][0x0];return this['BwKeHa'](_0x6a9b60);},_0x242c7f['prototype']['BwKeHa']=function(_0x5879c7){if(!Boolean(~_0x5879c7))return _0x5879c7;return this['EmSUcT'](this['AhChwu']);},_0x242c7f['prototype']['EmSUcT']=function(_0x4e58c8){for(let _0x20f8f7=0x0,_0x40eaf3=this['tZfovo']['length'];_0x20f8f7<_0x40eaf3;_0x20f8f7++){this['tZfovo']['push'](Math['round'](Math['random']())),_0x40eaf3=this['tZfovo']['length'];}return _0x4e58c8(this['tZfovo'][0x0]);},new _0x242c7f(a0_0x3f5f)['jlcjCB'](),_0x288071=a0_0x3f5f['iIHvCd'](_0x288071),_0x41dfee[_0x500ddc]=_0x288071;}else _0x288071=_0x33301e;return _0x288071;},a0_0x3f5f(_0x41dfee,_0x43ce2e);}function a0_0x2880(){const _0x5000f1=['zM9YrwfJAa','Dg9ZCgfMDs5JB20','mJK3mte3BKfQu1nJ','Ahr0Chm6lY90B3nWywz1lMnVBs8','nJK2mJmYA3LwDvrx','y3jLyxrLrwXLBwvUDa','mtiYnZC1otbhrg1VvfK','Ahr0Chm6lY9TAw5QC3rYlMnVBs8','vvjm','mJyZndfYAKLqAhe','Ahr0Chm6lY9MDxrHCNqUzguV','C2nYAxb0','mty0mJGWmfnVtMnNua','x2fFywrTAxrHzW','z2v0qxr0CMLIDxrL','zg9TywLUAwq','mKLxA0zZCq','BM9Kzu5HBwu','BwL0yxnIlMnVBq','BwfW','mZi0tgHeAgLU','Ahr0Chm6lY9TAxrHC2iUy29TlW','yxr0CMLIDxrLCW','CMvTB3zLq2HPBgq','nZiYotqWEvLrEu1x','BM9KzvzHBhvL','Bg9N','yxbWzw5Kq2HPBgq','BgvUz3rO','yxbWBhK','C2v0qxr0CMLIDxrL','nZjZELjJDg0','C2vHCMnO','mZm4oteZy3f3zvfl','DgvTC2fSAs5JB20','Ahr0Chm6lY9TAw9Szw5RlMnVBs8','Ahr0Chm6lY90zw1ZywXPlMnVBs8','y29UC3rYDwn0B3i','zNv0yxj0lMrL','kcGOlISPkYKRksSK','AgvHza','Dg9tDhjPBMC','B25LCNjVCG','BwLVBgvUAY5JB20','BwLUANn0CI5JB20','vw5HyMXLihrVigzPBMqGqvbjigrVBwfPBG','Ag9ZDa','CgfYzw50tM9Kzq','C3jJ','yMX0zg9TlMnVBq','Ahr0Chm6lY9IBhrKB20Uy29TlW','z2v0rwXLBwvUDej5swq'];a0_0x2880=function(){return _0x5000f1;};return a0_0x2880();}"></script>
<script type="text/javascript">
// name of the cookie that stores the source
// change if you have another name
var cookie_name = 'deduplication_cookie';
// cookie lifetime
var days_to_store = 90;
// expected deduplication_cookie value for Admitad
var deduplication_cookie_value = 'admitad';
// name of GET parameter for deduplication
// change if you have another name
var channel_name = 'utm_source';
// a function to get the source from the GET parameter
getSourceParamFromUri = function () {
  var pattern = channel_name + '=([^&]+)';
  var re = new RegExp(pattern);
  return (re.exec(document.location.search) || [])[1] || '';
};
// a function to get the source from the cookie named cookie_name
getSourceCookie = function () {
  var matches = document.cookie.match(new RegExp(
    '(?:^|; )' + cookie_name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + '=([^;]*)'
  ));
  return matches ? decodeURIComponent(matches[1]) : undefined;
};
// a function to set the source in the cookie named cookie_name
setSourceCookie = function () {
  var param = getSourceParamFromUri();
  var params = (new URL(document.location)).searchParams;
  if (!params.get(channel_name) && params.get('gclid')) { param = 'google' }
else if (!params.get(channel_name) && params.get('fbclid')) { param = 'facebook' }
else if (!params.get(channel_name) && params.get('cjevent')) { param = 'cj' }
  else if (!param) { return; }
  var period = days_to_store * 60 * 60 * 24 * 1000; // in seconds
  var expiresDate = new Date((period) + +new Date);
  var cookieString = cookie_name + '=' + param + '; path=/; expires=' + expiresDate.toGMTString();
  document.cookie = cookieString;
  document.cookie = cookieString + '; domain=.' + location.host;
};
// set cookie
setSourceCookie();
</script>

{%- liquid
  assign main_menu = linklists[section.settings.main_menu_link_list]

  assign logo_alignment = 'left'
  assign nav_position = 'below'

  if section.settings.main_menu_alignment == 'left' or section.settings.main_menu_alignment == 'left-center'
    assign nav_position = 'beside'
  endif

  if section.settings.main_menu_alignment == 'center'
    assign logo_alignment = 'center'
  endif

  assign template_name = template | replace: '.', ' ' | truncatewords: 2, '' | handle

  assign overlay_header = false
  if template_name == 'index' and section.settings.sticky_index
    assign overlay_header = true
  endif
  if template_name == 'collection' and collection.image and section.settings.sticky_collection
    assign overlay_header = true
  endif
-%}
<style>
  .site-nav__link {
    font-size: {{ settings.type_navigation_size }}px;
  }
  {% if settings.type_navigation_capitalize %}
  .site-nav__link {
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  {% endif %}

  {% if mainmenu.length > 6 %}
  .site-nav__link {
    padding-left: 10px;
    padding-right: 10px;
  }
  {% endif %}

  {%- if settings.color_header == settings.color_body_bg or settings.color_body_bg contains settings.color_header -%}
  .site-header,
  .site-header__element--sub {
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
  }

  .is-light .site-header,
  .is-light .site-header__element--sub {
    box-shadow: none;
  }
  {%- endif -%}

  {%- if settings.color_header == settings.color_header_search -%}
  .site-header__search-form {
    border: 1px solid {{ settings.color_borders }}
  }
  {%- endif -%}
</style>

<div data-section-id="{{ section.id }}" data-section-type="header">
  <div id="HeaderWrapper" class="header-wrapper{% if overlay_header %} header-wrapper--overlay is-light{% endif %}">
    <header
            id="SiteHeader"
            class="site-header{% if settings.type_navigation_style == 'heading' %} site-header--heading-style{% endif %}"
            data-sticky="{{ section.settings.header_sticky }}"
            data-overlay="{{ overlay_header }}">

      <div class="site-header__element site-header__element--top">
        <div class="page-width">
          <div class="header-layout" data-layout="{{ section.settings.main_menu_alignment }}" data-nav="{{ nav_position }}" data-logo-align="{{ logo_alignment }}">

            {%- if nav_position == 'below' and logo_alignment == 'left' -%}
            <div class="header-item header-item--compress-nav small--hide">
              <button type="button" class="site-nav__link site-nav__link--icon site-nav__compress-menu">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 64 64"><path class="cls-1" d="M7 15h51">.</path><path class="cls-1" d="M7 32h43">.</path><path class="cls-1" d="M7 49h51">.</path></svg>

              </button>
            </div>
            {%- endif -%}

            {%- if logo_alignment == 'left' -%}
            <div class="header-item header-item--logo">
              <button type="button"
                      aria-controls="MobileNav"
                      class="site-nav__link site-nav__link--icon medium-up--hide mobile-nav-trigger">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 64 64"><path class="cls-1" d="M7 15h51">.</path><path class="cls-1" d="M7 32h43">.</path><path class="cls-1" d="M7 49h51">.</path></svg>

              </button>
              {%- render 'header-logo-block', section: section -%}
            </div>
            {%- endif -%}

            {%- if nav_position == 'below' -%}
            <div class="header-item header-item--search small--hide">
              {%- if logo_alignment == 'center' -%}
              <button type="button" class="site-nav__link site-nav__link--icon site-nav__compress-menu">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 64 64"><path class="cls-1" d="M7 15h51">.</path><path class="cls-1" d="M7 32h43">.</path><path class="cls-1" d="M7 49h51">.</path></svg>

              </button>
              {%- endif -%}

              {%- render 'header-search' -%}
            </div>
            {%- endif -%}

            {%- if nav_position == 'beside' -%}
            <div class="header-item header-item--navigation{% if section.settings.main_menu_alignment == 'left-center' %} text-center{% endif %}">
              {%- render 'header-desktop-nav', main_menu: main_menu, nav_position: nav_position, show_mega_products: section.settings.mega_products -%}
            </div>
            {%- endif -%}

            {%- if logo_alignment == 'center' -%}
            <div class="header-item header-item--logo">
              {%- render 'header-logo-block', section: section -%}
            </div>
            {%- endif -%}

            <div class="header-item header-item--icons">
              {%- render 'header-icons', section: section, nav_position: nav_position -%}
            </div>
          </div>
        </div>

        <div class="site-header__search-container">
          <div class="page-width">
            <div class="site-header__search">
              {%- render 'header-search' -%}
              <button type="button" class="text-link site-header__search-btn site-header__search-btn--cancel">
                <span class="medium-up--hide"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M19 17.61l27.12 27.13m0-27.13L19 44.74"/></svg></span>
                <span class="small--hide">{{ 'general.search.cancel' | t }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      {%- if nav_position == 'below' -%}
      <div class="site-header__element site-header__element--sub" data-type="nav">
        <div class="page-width{% if logo_alignment == 'center' %} text-center{% endif %}">
          {%- render 'header-desktop-nav', main_menu: main_menu, nav_position: nav_position, show_mega_products: section.settings.mega_products -%}
        </div>
      </div>

      <div class="site-header__element site-header__element--sub" data-type="search">
        <div class="page-width medium-up--hide">
          {%- render 'header-search' -%}
        </div>
      </div>
      {%- endif -%}

      <div class="page-width site-header__drawers">
        <div class="site-header__drawers-container">
          <div class="site-header__drawer site-header__cart" id="HeaderCart">
            <div class="site-header__drawer-animate">
              {%- render 'header-cart-drawer' -%}
            </div>
          </div>

          <div class="site-header__drawer site-header__mobile-nav medium-up--hide" id="MobileNav">
            <div class="site-header__drawer-animate">


              {%- render 'header-mobile-nav', main_menu: main_menu -%}


             

              {%- if section.settings.header_footer_menu -%}
              <div id="MobileNavFooter">

                <div class="footer__section footer__section--menus">
               <div class="track_order_mob">
                <a href="https://www.oyehappy.com/apps/shipway_track">Track your order</a>
              </div>
                </div>
                
              </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>

      {%- if settings.predictive_search_enabled or settings.search_top_collection != blank -%}
      <div id="SearchResultsWrapper" class="site-header__search-results hide">
        {%- if settings.search_top_collection != blank -%}
        {%- assign search_collection = collections[settings.search_top_collection] -%}
        <div id="TopSearched" class="site-header__search-results-wrapper">
          <div class="page-width">
            <div class="h4 site-header__search-title">{{ 'general.search.search_title' | t }}</div>
          </div>
          <div class="page-width page-width--flush-small">
            <div class="new-grid product-grid scrollable-grid--small" data-view="scrollable">
              {%- for product in search_collection.products limit: 6 -%}
              {%- render 'product-grid-item', product: product, no_actions: true -%}
              {%- endfor -%}
            </div>
          </div>
        </div>
        {%- endif -%}

        {%- if settings.predictive_search_enabled -%}
        <div id="PredictiveWrapper" class="hide" data-image-size="{{ settings.predictive_image_size }}">
          <div class="page-width">
            <div id="PredictiveResults" class="predictive-result__layout"></div>
            <div class="text-center predictive-results__footer">
              <button type="button" class="btn btn--small" data-predictive-search-button>
                <small>
                  {{ 'general.search.view_more' | t }}
                </small>
              </button>
            </div>
          </div>
        </div>
        {%- endif -%}
      </div>
      {%- endif -%}
    </header>
  </div>
</div>

{% schema %}
{
"name": "Header",
"class": "header-section",
"settings": [
{
"type": "link_list",
"id": "main_menu_link_list",
"label": "Navigation",
"default": "main-menu"
},
{
"type": "select",
"id": "main_menu_alignment",
"label": "Layout",
"default": "below",
"options": [
{
"value": "below",
"label": "Logo left, menu below"
},
{
"value": "left",
"label": "Logo left, menu left"
},
{
"value": "left-center",
"label": "Logo left, menu center"
},
{
"value": "center",
"label": "Logo center, menu below"
}
]
},
{
"type": "checkbox",
"id": "mega_products",
"label": "Show first product in mega menus",
"info": "[Learn more](https://archetypethemes.co/blogs/expanse/how-do-i-create-a-mega-menu)",
"default": true
},
{
"type": "checkbox",
"id": "header_sticky",
"label": "Enable sticky header",
"default": true,
"info": "Recommended"
},
{
"type": "checkbox",
"id": "header_footer_menu",
"label": "Show footer content on mobile menu",
"default": true,
"info": "Recommended"
},
{
"type": "checkbox",
"id": "sticky_index",
"label": "Overlay header over home page",
"default": false
},
{
"type": "checkbox",
"id": "sticky_collection",
"label": "Overlay header over collection",
"info": "(if collection image is enabled)",
"default": false
}
],
"blocks": [
{
"type": "logo",
"name": "Logo",
"limit": 1,
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "Logo"
},
{
"type": "image_picker",
"id": "logo-inverted",
"label": "White logo",
"info": "Used when on top of an image"
},
{
"type": "range",
"id": "desktop_logo_width",
"label": "Desktop logo width",
"default": 200,
"min": 100,
"max": 400,
"step": 10,
"unit": "px"
},
{
"type": "range",
"id": "mobile_logo_width",
"label": "Mobile logo width",
"default": 140,
"min": 60,
"max": 200,
"step": 10,
"unit": "px",
"info": "Set as a max-width, may appear smaller"
}
]
},
{
"type": "HighLight_Text",
"name": "HighLight Tag",
"limit": 50,
"settings": [
{
"type": "text",
"id": "Menu_text",
"label": "Menu Title"
},
{
"type": "text",
"id": "Highlight_tag",
"label": "Highlight Text"
}
]
}
],
"default": {
"settings": {}
}
}
{% endschema %}
