{% assign gifttype1 = "Customised|Quirky|Romantic|Decorative|Naughty|Funny|Long Distance|Virtual|Art|Travel|Social|Secret Santa|LGBTQI" | split:'|'%}
{% assign gifttype2 = "Gift Hampers|Greeting Cards|Magnets|Mugs|Combos|Rakhis" | split:'|'%}
{% assign relationship = "Wife|Husband|Boyfriend|Girlfriend|Fiance|Him|Her|Friends|Sister|Brother|Mother|Father|Parents|Son|Daughter|Colleagues|Teacher|Grandparents|Couple|Others" | split:'|'%}
{% assign occasion = "Birthday|Anniversary|Wedding|Honeymoon|Courtship|Proposal|Just Like That|Houswarming|New Year's|Valentine's Day|Women's Day|Mother's Day|Father's Day|Rakhi|Friendship Day|Teacher's Day|Diwali|Christmas" | split:'|'%}
<div
  id="CollectionAjaxResult"
  class="collection-content"
  data-section-id="{{ section.id }}"
  data-section-type="collection-template"
  data-collection-template="true"
>
  <div id="CollectionAjaxContent">
    <div class="page-width">
      <div class="grid">
        <div class="grid__item medium-up--one-fifth grid__item--sidebar">
          {% render 'collection-sidebar', section: section %}
        </div>
        <div class="grid__item medium-up--four-fifths grid__item--content">
            {% if collection.title != blnak %}
         <h1 class="collection-title">{{ collection.title }}</h1>
         {% endif %}
         {% if collection.description != blank %}
           <div class="rte--collection-desc">
             <div class="enlarge-text">
           {{ collection.description }}
             </div>
           </div>
         {% endif %}
          <div class="collection-grid__wrapper">
            <div class="collection-grid__header">
              <h1>
                {% if current_tags %}
                	{% assign reltag = current_tags.first | remove:'For ' | capitalize %}
                	{% if occasion contains collection.title and relationship contains reltag %}
                		{{ collection.title }} Gifts for {{ reltag }}               		
                	{% endif %}
                
                	{% if occasion contains collection.title and gifttype1 contains current_tags.first %}
                		{{ current_tags.first }} {{ collection.title }} Gifts
                	{% endif %}
                
                	{% if occasion contains collection.title and gifttype2 contains current_tags.first %}
                		{{ collection.title }} {{ current_tags.first }}               		
                	{% endif %}
                
                	{% if relationship contains collection.title and gifttype1 contains current_tags.first %}
                		{{ current_tags.first }} Gifts for {{ collection.title }} 
                	{% endif %}
                
                	{% if relationship contains collection.title and gifttype2 contains current_tags.first %}
                		{{ current_tags.first }} for {{ collection.title }}
                	{% endif %}
                {% else %}
                	{% if gifttype1 contains collection.title %}
                		{{ collection.title }} Gifts
                	{% endif %}
                
                	{% if gifttype2 contains collection.title %}
                		{{ collection.title }}
                	{% endif %}

                   	{% if relationship contains collection.title %}
                		Gifts for {{ collection.title }}
                	{% endif %}

                    {% if occasion contains collection.title %}
                		{{ collection.title }} Gifts
                	{% endif %}
                {% endif %}
              </h1>
            </div>
            {% render 'collection-template', section: section %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% assign faqs_schemas = collection.metafields.custom.faq_collection.value %}
{% if faqs_schemas != blank %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
  {% for faqs_schema in faqs_schemas %}
  {
    "@type": "Question",
    "name": "{{ faqs_schema | split: '##' | first }}",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "{{ faqs_schema | split: '##' | last }}"
    }
  }{% unless forloop.last %},{% endunless %}
 {% endfor %}
  ]
}
</script>
{% else %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "CollectionPage",
  {% if collection.description != blank %}
    "description": {{ collection.description | strip_html | json }},
  {% endif %}
  {% if page_image %}
    {% assign image_size = page_image.width | append: 'x' %}
    "image": {
      "@type": "ImageObject",
      "height": {{ page_image.height | json }},
      "url": {{ page_image | img_url: image_size | prepend: "https:" | json }},
      "width": {{ page_image.width | json }}
    },
  {% endif %}
  "name": {{ collection.title | json }}
}
</script>
    {% endif %}


{% schema %}
  {
    "name": "Product grid",
    "settings": [
      {
        "type": "header",
        "content": "Filtering and sorting"
      },
      {
        "type": "checkbox",
        "id": "enable_sidebar",
        "label": "Enable filter",
        "default": true,
        "info": "Allow your customers to filter collections and search results by product availability, price, color, and more. [Customize filters](/admin/menus)"
      },
      {
        "type": "textarea",
        "id": "filter_for_relationship",
        "label": "Filter for relationship"
      },
       {
        "type": "textarea",
        "id": "filter_for_occassion",
        "label": "Filter for Occassion"
      },
      {
        "type": "textarea",
        "id": "filter_for_surprise",
        "label": "Filter for Surprise"
      },
  
      {
        "type": "checkbox",
        "id": "collapse_filters",
        "label": "Collapse filters",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_color_swatches",
        "label": "Enable color swatches",
        "info": "[View setup instructions](https://archetypethemes.co/blogs/expanse/how-do-i-set-up-color-swatches)"
      },
      {
        "type": "checkbox",
        "id": "enable_sort",
        "label": "Show sort options",
        "default": true
      },
      {
  "type": "range",
  "id": "img-width",
  "min": 12,
  "max": 100,
  "step": 1,
  "unit": "%",
  "label": "Image width",
  "default": 30
}
    ],
    "blocks": [
      {
       "type": "image" ,
        "name" : "Image",
        "limit": 3,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1:1 Aspect Ratio"
          },
          {
            "type": "text",
            "id": "collection-text",
            "label": "Text"
          },
          {
             "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "collection_description",
        "name": "Collection description",
        "limit": 1
      },
      {
        "type": "product_grid",
        "name": "Products",
        "settings": [
          {
            "type": "select",
            "id": "grid_style",
            "label": "Default product layout",
            "default": "small",
            "options": [
              {
                "value": "large",
                "label": "Large grid"
              },
              {
                "value": "small",
                "label": "Small grid"
              },
              {
                "value": "list",
                "label": "List"
              }
            ]
          }
        ],
        "limit": 1
      },
      {
        "type": "subcollections",
        "name": "Subcollections",
        "settings": [
          {
            "type": "paragraph",
            "content": "Links to collections from your menu will appear here. [Learn more](https://archetypethemes.co/blogs/expanse/how-do-i-create-subcollections)"
          }
        ],
        "limit": 1
      }
    ]
  }
{% endschema %}
